# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Mac system files
__MACOSX/
.DS_Store

# Environment files
.env
.env.local

# Build outputs
dist/
.cache/

# Archives and deployment artifacts
*.zip
*.tar.gz
*.tgz

# Windows system files
Thumbs.db

.ssh/
